# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Archivos del Sistema (Mac/Windows) ---
.DS_Store
Thumbs.db

# --- Dependencias (Node y Python) ---
node_modules/
__pycache__/
*.pyc
.pytest_cache/
venv/
env/

# --- Variables de Entorno (SECRETOS - NO SUBIR) ---
.env
.env.local
.env.*.local

# --- Base de Datos Local ---
# Ignoramos la carpeta donde Docker guarda los datos de MySQL
db_data/
mysql_data/

# --- Build de Producción ---
dist/
build/